@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Lato);

h, p, ul, ol, li {
  font-family: 'Roboto', sans-serif;
  font-size: 52px;
  color: #000000;
  text-align: center;
  padding-bottom: 4px;
  border-bottom: 3px solid #3f4c66;
  margin: 4px;
}

header {
  color: #7f7f7f;
}

main {
  color: #d3d3d3;
}
