@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Lato);

h1, h2, h6 {
  font-family: 'Lato', sans-serif;
  color: #000000;
  text-align: left;
  padding-bottom: 4px;
  border-bottom: 3px solid #3f4c66;
  margin: 4px;
}

h3 {
  font-family:'Lato', sans-serif;
  color: #FFFFFF;
  text-align: left;
}

p, ul, ol, li {
  font-family: 'Lato', sans-serif;
  color: #000000;
  text-align: left;
}

header {
  background-color: #000000;
}

main {
  background-color: #d3d3d3;
}
